<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinEventLog_Filter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinEventLog_Filter.Properties.Settings>
            <setting name="AppSearchHistory" serializeAs="String">
                <value>C:\Users\Marko\AppData\Local\WinEventLogFilter\</value>
            </setting>
            <setting name="SearchForTerm" serializeAs="String">
                <value />
            </setting>
        </WinEventLog_Filter.Properties.Settings>
    </userSettings>
</configuration>